<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Zde su můžeš zahrát poker onlina a zdarma! Pozvi přátele a zahraj si s nimi poker zdarma!">
    <meta name="keywords" content="HrajPoker, HrajPoker.aspifyhost.cz,poker, poker online, poker zdarma">
    <meta name="author" content="Vojtěch Stránský">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/img/Money/Bet.png">
    <title>@ViewData["Title"]</title>
    @RenderSection("Styles", false)
</head>
<body>
    @RenderBody()
</body>
</html>
